.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;

    .seccion-uno {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 150px 40px 150px 40px;
        width: 80vw;

        &-texto {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 100%;

            h2 {
                @include fonts(5rem, "Archivo Black", #f45380);
                // font-size: 5rem;
                // color: #f45380;
                line-height: 6.5rem;
                // font-family: "Archivo Black", sans-serif;
            }

            p {
                @include fonts(1.8rem, "Open Sans", #1E1E1E);
                // font-size: 1.8rem;
                // font-family: "Open Sans", sans-serif;
                padding-top: 8px;
            }

            a {
                @extend %boton;
                // font-size: 1.5rem;
                // text-decoration: none;
                // background-color: #f45380;
                // border-radius: 6px;
                // width: 120px;
                // padding: 12px;
                // text-align: center;
                // margin-top: 15px;
                // color: whitesmoke;
            }
        }

        &-img {
            background-image: url(./../assets/light-blue-shape.svg);
            background-repeat: no-repeat;

            img {
                width: 300px;
            }
        }
    }

    .seccion-dos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding: 100px 40px 150px 40px;
        width: 80vw;
        margin-bottom: 30px;

        &-img {
            width: 100%;
            display: flex;
            justify-content: center;

            img {
                width: 230px;
            }
        }

        &-texto {
            height: 100%;
            display: flex;
            flex-direction: column;

            h2 {
                font-size: 5rem;
                color: #51a8bf;
                line-height: 6.5rem;
                font-family: "Archivo Black", sans-serif;
            }

            p {
                font-size: 1.8rem;
                font-family: "Open Sans", sans-serif;
                padding-top: 8px;
            }

            a {
                @extend %boton;
                background-color: #51a8bf;
                margin-top: 30px;
            }
        }
    }
}